<div class="container-fluid" >

        <div class="row">
            <div class="col-lg-3 logo">
             <!--logo-->
             <a href="#">FA<font>SHI</font>ON MA<font>ZE</font></a> </div>
             <div class="col-lg-7 list-items">
                
             <ul>
                <li><a routerLink="home">HOME</a></li>
                <li><a routerLink="collection">COLLECTION</a></li>
                <li><a routerLink="contactus">CONTACT US</a></li>
                <li><a routerLink="aboutus">ABOUT US</a></li>
              </ul>
        </div>
        <div class="col-lg-2 symbol">
            <!--side-search-box-->
    <div class="side-box">
        <!--search-->
        <div class="search">
             <!--icon-->
            <div class="fas fa-search">
            <!--input-->
            <input type="text" placeholder="Search" />
            </div>
            <div class="nav-btns">
                <a href="#" class="btn-nav-i"><i class="fas fa-cart-plus"></i></a>
              </div>
            
    </div>
    </div>
        </div>
    <div class="row">
        <div class="col-lg-12">
            <router-outlet></router-outlet>
        </div>
         
    </div>
</div>
 
 
