<div class="product">
    <!--heading-->
    <div class="p-heading">
        <h3>Trendy<font>Arri</font>vals</h3>
    </div>
    <!--product-box-container-->
    <div class="product-container">
        <!--box-->
        <div class="p-box">
            <!--image 1-->
            <img src="../assets/img1.png"> 
            <div class="item-name">
            <!--Details-->
            <p><b>Peachmode-casual dress</b></p>
            <!--price-->
            <a href="#" class="price">$43.3</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
            </div>
        </div>
        <div class="p-box">
            <!--image 2-->
            <img src="./assets/img2.png" alt=""/> 
            <!--Details-->
            <p><b>Rare-Solid T-shirt Dress</b></p>
            <!--price-->
            <a href="#" class="price">$38.2</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 3-->
            <img src="../assets/img3.png" alt=""/> 
            <!--Details-->
            <p><b>plus S - Denim shirt dress</b></p>
            <!--price-->
            <a href="#" class="price">$57.6</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 4-->
            <img src="../assets/img4.png" alt=""/> 
            <!--Details-->
            <p><b>Floral -Fit and flair dress</b></p>
            <!--price-->
            <a href="#" class="price">$26.72</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 5-->
            <img src="../assets/img5.png" alt=""/> 
            <!--Details-->
            <p><b>Peachmode-Mini wrap dress</b></p>
            <!--price-->
            <a href="#" class="price">$58.33</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 6-->
            <img src="../assets/img6.png" alt=""/> 
            <!--Details-->
            <p><b>plus S-floral smocked dress</b></p>
            <!--price-->
            <a href="#" class="price">$38.4</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 7-->
            <img src="../assets/img7.png" alt=""/> 
            <!--Details-->
            <p><b>Athena-Solid trimmed dress</b></p>
            <!--price-->
            <a href="#" class="price">$56.48</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 8-->
            <img src="../assets/img14.png" alt=""/> 
            <!--Details-->
            <p><b>Popnetic-solid jumper dress</b></p>
            <!--price-->
            <a href="#" class="price">$43.3</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
    </div>
</div>
<!--watches-->
<div class="product">
    <!--heading-->
    <div class="p-heading">
        <h3>Watches<font> Show Case</font></h3>
    </div>
    <!--product-box-container-->
    <div class="product-container">
        <!--box-->
        <div class="p-box">
            <!--image 1-->
            <img src="../assets/img8.png" alt=""/> 
            <!--Details-->
            <p><b>Daniel Wellington-watch iconic</b></p>
            <!--price-->
            <a href="#" class="price">$79</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 2-->
            <img src="../assets/img9.png" alt=""/> 
            <!--Details-->
            <p><b>Women's virginia-stainless steel</b></p>
            <!--price-->
            <a href="#" class="price">$72.58</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 3-->
            <img src="../assets/img10.png" alt=""/> 
            <!--Details-->
            <p><b>Foosil Women's-jacqueline Multifunction</b></p>
            <!--price-->
            <a href="#" class="price">$92.12</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 4-->
            <img src="../assets/img11.png" alt=""/> 
            <!--Details-->
            <p><b>Michael Kors-parker white watch</b></p>
            <!--price-->
            <a href="#" class="price">$190.58</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 5-->
            <img src="../assets/img16.png" alt=""/> 
            <!--Details-->
            <p><b>Calvin klein-Rose gold dial Analogue</b></p>
            <!--price-->
            <a href="#" class="price">$58.46</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 6-->
            <img src="../assets/img12.png" alt=""/> 
            <!--Details-->
            <p><b>Titan Raga-moments of joy</b></p>
            <!--price-->
            <a href="#" class="price">$87.43</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 7-->
            <img src="../assets/img13.png" alt=""/> 
            <!--Details-->
            <p><b>Titan women's-Ladies Neo v phase</b></p>
            <!--price-->
            <a href="#" class="price">$30.96</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 8-->
            <img src="../assets/img15.png" alt=""/> 
            <!--Details-->
            <p><b>Michael Kors-chronograph women's watch</b></p>
            <!--price-->
            <a href="#" class="price">$43.3</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
    </div>
</div>