<section class="subscribe-container">
    <!--heading-->
    <h3>Subscribe For New Product Notification</h3>
    <!--input-->
    <div class="subscribe-input">
    <input type="email" placeholder="FashionMaze@gmail.com"/>
    <!--btn-->
    <a href="#" class="subscribe-btn">Submit</a>
    </div>
</section>
<footer>
    <h3 style="text-align: center;">FASHION MAZE</h3>
<!--footer menu-->
<ul class="footer-menu">
    <li><a href="#">Man</a></li>
    <li><a href="#">Women</a></li>
    <li><a href="#">Kids</a></li>
    <li><a href="#">Bags</a></li>
    <li><a href="#">Watches</a></li>
</ul>
</footer>
<!--copyright-->
<a href="#" class="copyright">Copyright 2022. Shopping site created By Ruthvika Muchala Referring to Internet. </a>


