<!--main img-->
<div class="main-img"><br><br><br><br>
    <img [src]="bg" alt=""  style="width: 1200px; height:800px;align-items:flex-end;padding-right:500px;float:right;padding-bottom: 310px;padding-top:1px; ">
</div>
<div class="main">
    <img [src]="">
</div>
<!--main-text-->
<div class="main-text">
    <h1>Su<font>mme</font>r</h1>
    <h2>Collec<font>tion</font></h2>
    <!--btn-->
    <a href="#" class="main-btn">Details</a>
</div>
<!--Social-->
<div class="social">
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-youtube"></i></a>
</div>
